# Numerous always-ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
._*
.cache
.DS_Store
Thumbs.db
.bak

tmp*

# non tracciare la cartella di download
script/data/*

# i tmp di libreoffice
.~lock*

# a1-a2
script/disabilita-in-cifre/a1-a2/*/*/*.xls
out.jsonl

*/*/tmp/*
